$headerColor: #008cba;

body {  
  padding: 20px;
  font-family: Segoe UI;
}

textarea.textarea-csv {
  font-family: 'Inconsolata', Segoe UI;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  height: calc(100% - 44px);
  margin-bottom: 0;
}

.navigation {
  background-color: $headerColor;
}

.navigation .btn {
  margin-bottom: 0;
}

.table {
  width: 100%;
  color: #7e7e7e;
}


button.small.btn-active {
  background-color: saturate($headerColor, 50%);
}