html(ng-app="app")
  head  
    title CSV Viewer
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/site.css")
    link(rel="stylesheet", href="../bower_components/foundation/css/foundation.css")

  body(ng-controller="csvController as vm")
  
    div.navigation
      button.btn.small(ng-click="vm.showRaw()") Data
      button.btn.small(ng-click="vm.showData()") View

    div.container
      textarea.textarea-csv(ng-model="csv", ng-show="vm.viewType === 'raw'", placeholder="Add CSV here...")

      table.table.table-striped(ng-show="vm.viewType === 'data'")
        tr(ng-repeat='row in vm.rows')
          td(ng-repeat='col in row') {{col}}

    script(src="../bower_components/angular/angular.js")
    script(src="../bower_components/comma-separated-values/csv.js")
    script(src="js/app.js")
    script(src="js/csvController.js")